#indexbody {
    position: absolute;
    left: 5vw;
    padding: 0px;
    margin: 0px;
}
#indextitle h1 {
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    position: relative;
    top: -10px;
}


.bigdirectory {
    background-color: #393f4d;
    transition: border-radius 1s;
    width: 90vw;
    align-content: center;
}

.bigdirectory:hover {
    border-radius: 30px;
}

.directorylist {
    list-style-type: none;
}

.directorylist h2 {
    margin-left: 20px;
}

.directorylist li a {
    display:block;
    height: 100px;
    transition: background-color 1s, height 1s, border-radius 1s;
    background-color: #393f4d;
    color: white;
    text-decoration: none;
}

.directorylist li a:hover {
    height: 300px;
    background-color: #feda6a;
    border-radius: 30px;
}

#all:hover {
    background-color: white;
}

#coding {}

#reading {}

#colleges {}