header {
    color: red;
    font-size: 30pts;
}
nav {
    align-content: center;
}
nav a {
    display: inline-block;
    width: 23.5%; height: 10px;
    text-align: center;
    font-size: 10px;
    color: black;
    border-style: solid;
}

body {
    background-color: darkslateblue;

}