* {
    margin: 0; padding: 0;  
}

body {
    background-color: #123456;
}

.gamebox {
    display: inline-flex;
}

.gamebox div {
    align-content: center;
}

main {
    position: relative;
}

.ai2 {
    background-color: white;
    width: 50%;
    position: absolute;
    left: 0;
}

.ai2 .logo {
    display: inline-block;
    margin-top: 10px;
}

.ai2 h2 {
    color: #F88D34;
    display: inline-block;
    font-size: 70px;
}

#imageboard {
    background-color: #AAA;
    width: 30%;
}




.flutter {
    background-color: white;
    width: 50%;
    display: inline-block;
    position: absolute;
    right: 0;
}